@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
*{
  box-sizing: border-box;
}
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

section{
  padding: 100px 0;
}
.container{
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 40px;
}
@media screen and (max-width:768px) {
  section{
    padding: 40px 0;
  }
  .container{
    padding: 0 20px;
  }
}

.hero-banner{
  display: flex;
  align-items: center;
  background-image: url('/office-2.jpeg');
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  position: relative;
  min-height: 70vh;
}
.hero-banner::after{
  content:'';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.55;
  z-index: 1;
}
@media screen and (max-width: 768px) {
  nav .hidden{
    height: 0;
    visibility: hidden;
    width: 0;
    opacity: 0;
    position: absolute;
    transition: 0.3s height linear;
    display: block !important;
  }
  nav .hidden li{
     margin-left: -100px !important;
     padding: 8px 5px;
  }
  nav .hidden button{
    margin-left: -100px !important;
    transition: 0.3s all linear;
  }
  .visible_menu{
    position: absolute;
    top: 80px;
    left: 0;
    background-color: #fff;
    width: 100%;
    height: 45vh;
    transition: 0.2s height linear;
    overflow: hidden;
  }
  .visible_menu ul{
    width: 100%;
    flex-wrap: wrap;
  }
  .visible_menu li{
    width: 100%;
    margin-left: 20px !important;
    padding: 8px 5px;
    transition: 0.3s all linear;
    animation-delay: 1s;
  }
  .visible_menu button{
    margin-left: 20px !important;
    transition: 0.3s all linear;
  }
  .hero-banner{
    min-height: 91vh;
    background-position: center;
  }
}

h1,h2,h3,h4,h5,h6,p{
  display: block;
  width: 100%;
}
h1{
  font-size: 65px;
  font-weight: 700;
  line-height: 1.2;
  @media screen and (max-width: 767px) {
    font-size: 50px;
  }
}
h2{
  font-size: 50px;
  font-weight: 600;
  line-height: 1.2;
  @media screen and (max-width: 767px) {
    font-size: 40px;
  }
}
h3{
  font-size: 40px;
  font-weight: 600;
  line-height: 1.2;
  @media screen and (max-width: 767px) {
    font-size: 30px;
  }
}
h4{
  font-size: 32px;
  font-weight: 500;
  line-height: 1.2;
  @media screen and (max-width: 767px) {
    font-size: 22px;
  }
}
h5{
  font-size: 25px;
  font-weight: 500;
  line-height: 1.2;
  @media screen and (max-width: 767px) {
    font-size: 20px;
  }
}
h6{
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
  @media screen and (max-width: 767px) {
    font-size: 18px;
  }
}
p{
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
}


.controldots .carousel{
  padding: 20px 0 40px;
}
.controlgallery .control-arrow {
  background-color: #000 !important;
}
.controlgallery .control-arrow {
  background-color: #000 !important;
  opacity: 1!important;
}
.controlgallery .control-arrow.control-disabled {
  opacity: 1 !important;
  display: block !important;
  opacity: 0.4 !important;
}
.controlgallery .carousel-slider {
    width: 100%;
    max-width: 955px;
    margin: 0 auto !important;
    padding: 0;
}